<main class="main-content">
  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar class="profileTitle">account_circle</mat-icon>
      <mat-card-title class="cardTitle">My Tasks</mat-card-title>
    </mat-card-header>
    <ng-container *ngIf="spinner">
      <div class="spinner-container">
        <mat-spinner></mat-spinner>
      </div>
    </ng-container>
    <ng-container *ngIf="!spinner">
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Upcoming">
            <div>
              <ng-container *ngIf="upcomingTasks.length">
              <br/>
                <table mat-table [dataSource]="upcomingTasks" class="mat-elevation-z8">
                  <!-- Columns definition -->
                  <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
                    <th mat-header-cell *matHeaderCellDef [ngStyle]="{'background-color': '#21294f', 'color': '#ffffff'}">{{ column | uppercase }}</th>
                    <td mat-cell *matCellDef="let task">{{ task[column] }}</td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index" [ngStyle]="{'background-color': i % 2 === 0 ? '#f0f0f0' : '#ffffff'}"></tr>
                </table>
              </ng-container>
              <ng-container *ngIf="!upcomingTasks.length">
                <h1>No Upcoming Tasks</h1>
              </ng-container>
            </div>
          </mat-tab>
          <mat-tab label="Completed">
            <div>
              <ng-container *ngIf="completedTasks.length">
                <br/>
                <table mat-table [dataSource]="completedTasks" class="mat-elevation-z8">
                  <!-- Columns definition -->
                  <ng-container *ngFor="let column of completeddisplayedColumns" [matColumnDef]="column">
                    <th mat-header-cell *matHeaderCellDef [ngStyle]="{'background-color': '#21294f', 'color': '#ffffff'}">{{ column | uppercase }}</th>
                    <td mat-cell *matCellDef="let task">{{ task[column] }}</td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="completeddisplayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: completeddisplayedColumns; let i = index" [ngStyle]="{'background-color': i % 2 === 0 ? '#f0f0f0' : '#ffffff'}"></tr>
                </table>
              </ng-container>
              <ng-container *ngIf="!completedTasks.length">
                <h1>No Completed Tasks</h1>
              </ng-container>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </ng-container>
  </mat-card>
</main>