<main class="main-content">
  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar class="profileTitle">account_circle</mat-icon>
      <mat-card-title class="cardTitle">My Tasks</mat-card-title>
    </mat-card-header>
    <ng-container *ngIf="spinner">
      <div class="spinner-container">
        <mat-spinner></mat-spinner>
      </div>
    </ng-container>
    <ng-container *ngIf="!spinner">
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Upcoming">
            <div>
              <ng-container *ngIf="upcomingTasks.data.length">
              <br/>
              <ng-container *ngFor="let project of upcomingTasks.data">
                <h1>{{ project.projectId }}</h1>
                <table mat-table [dataSource]="project.data" class="mat-elevation-z8">
                  <!-- Columns definition -->
                  <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
                    <th mat-header-cell *matHeaderCellDef [ngStyle]="{'background-color': '#21294f', 'color': '#ffffff'}">{{ column | uppercase }}</th>
                    <td mat-cell *matCellDef="let task">{{ task[column] }}</td>
                  </ng-container>
                  <ng-container matColumnDef="Status">
                    <th mat-header-cell *matHeaderCellDef [ngStyle]="{'background-color': '#21294f', 'color': '#ffffff'}">Status</th>
                    <td mat-cell *matCellDef="let task">
                      <mat-slide-toggle [checked]="task.completion" color="primary" (change)="toggleStatus(task)">
                      </mat-slide-toggle>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="['taskName', 'assignee', 'specialInstructions', 'exceptions', 'dueDate','Status']"></tr>
                  <tr mat-row *matRowDef="let row; columns: ['taskName', 'assignee', 'specialInstructions', 'exceptions', 'dueDate','Status']; let i = index" [ngStyle]="{'background-color': i % 2 === 0 ? '#f0f0f0' : '#ffffff'}" (click)="onRowClick(row)"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </ng-container>
              </ng-container>
              <ng-container *ngIf="!upcomingTasks.data.length">
                <h1>No Upcoming Tasks</h1>
              </ng-container>
            </div>
          </mat-tab>
          <mat-tab label="Completed">
            <div>
              <ng-container *ngIf="completedTasks.data.length">
                <br/>
                <ng-container *ngFor="let project of completedTasks.data">
                  <h1>{{ project.projectId }}</h1>
                <table mat-table [dataSource]="project.data" class="mat-elevation-z8">
                  <!-- Columns definition -->
                  <ng-container *ngFor="let column of completedDisplayedColumns" [matColumnDef]="column">
                    <th mat-header-cell *matHeaderCellDef [ngStyle]="{'background-color': '#21294f', 'color': '#ffffff'}">{{ column | uppercase }}</th>
                    <td mat-cell *matCellDef="let task">
                      <span *ngIf="column === 'taskName'" >{{ task[column] }}</span>
                      <span *ngIf="column !== 'taskName'">{{ task[column] }}</span>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="Status">
                    <th mat-header-cell *matHeaderCellDef [ngStyle]="{'background-color': '#21294f', 'color': '#ffffff'}">Status</th>
                    <td mat-cell *matCellDef="let task">
                      <mat-slide-toggle [checked]="task.completion"  color="primary" (change)="toggleStatus(task)">
                      </mat-slide-toggle>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="['taskName', 'assignee', 'specialInstructions', 'exceptions', 'completedDate','Status']"></tr>
                  <tr mat-row *matRowDef="let row; columns: ['taskName', 'assignee', 'specialInstructions', 'exceptions', 'completedDate','Status']; let i = index" [ngStyle]="{'background-color': i % 2 === 0 ? '#f0f0f0' : '#ffffff'}" (click)="onRowClick(row)"></tr>
                </table>
                </ng-container>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </ng-container>
              <ng-container *ngIf="!completedTasks.data.length">
                <h1>No Completed Tasks</h1>
              </ng-container>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </ng-container>
  </mat-card>
</main>
