
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="homeButtonClick()">
        <div class="sideNav">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </div>
      </a>
      <a mat-list-item (click)="taskViewClick()">
        <div class="sideNav">
          <mat-icon>check_circle_outline</mat-icon>
          <span>My Tasks</span>
        </div>
      </a>
      <a mat-list-item (click)="projectViewClick()">
        <div class="sideNav">
          <mat-icon>work_outline</mat-icon>
          <span>Project</span>
        </div>
      </a>
      <a mat-list-item>
        <div class="sideNav">
          <mat-icon>folder_open</mat-icon>
          <span>Portfolio</span>
        </div>
      </a>
      <a mat-list-item (click)="createProject()">
        <div class="sideNav">
          <mat-icon>add_circle_outline</mat-icon>
          <span>Create Project</span>
        </div>
      </a>
      <a mat-list-item (click)="createTemplate()">
        <div class="sideNav">
          <mat-icon>note_add</mat-icon>
          <span>Create Template</span>
        </div>
      </a>
      <a mat-list-item (click)="createTask()">
        <div class="sideNav">
          <mat-icon>add_circle_outline</mat-icon>
          <span>Create Task</span>
        </div>
      </a>
    </mat-nav-list>
