.header {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
}
.sideNav{
  color:white;
  display: flex;
  align-items: center; 
  float: unset;
  pointer-events: none;
  cursor:default;
}
.sideNav mat-icon {
  margin-right: 8px; /* Adjust the space as needed */
}

.custom-expansion-panel {
  background-color: #21294f;; /* Background color of the panel */
  --mat-expansion-header-indicator-color:white;
}
.custom-expansion-panel .mat-expansion-panel-header {
  background-color: #21294f;; /* Background color of the header */
  color: white; /* Text color of the header */
}
.custom-expansion-panel .mat-expansion-panel-header:hover {
  background-color: #673ab7; /* Background color of the header on hover */
}
.childNav{
  display: flex;
  align-items: center;
  float: unset;
  color:white;
  margin-left: 22px;
}
.navigation {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: auto;
}

.nav-item {
  text-decoration: none;
  color: white;
  padding: 10px;
  text-align: left;
}

.nav-item:hover {
  background-color: #555; /* Adjust hover background color as needed */
}

.profile-image {
  width: 100px; /* Adjust image size as needed */
  margin-top: auto; /* Pushes the image to the bottom of the sidebar */
  border-radius: 50%; /* Makes the image circular */
}