.header {
    background-color: #21294f;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    height: 95%;
    justify-content: space-between;
    padding: 11px 14px;
    position: fixed;
    width: auto;
}

.navigation {
  display: flex;
  flex-direction: column; /* Stack nav items vertically */
  gap: 20px;
  margin-top: 20px; /* Adjust as needed */
}

.nav-item {
  color: #fff;
  font-family: Inter, sans-serif;
  text-decoration: none;
  cursor:pointer;
}

.nav-item:first-child {
  font: 700 28px Inter, sans-serif;
  margin-top: -5px;
  text-align: center;
}

.profile-image {
  aspect-ratio: 1.04;
  width: 45px;
}