<div class="select-functional-leads-form">
  <form (ngSubmit)="onSubmit()" #functionalLeadsForm="ngForm">
    <div *ngFor="let func of functions">
      <label>{{ func.functionName }}</label>
      <select [(ngModel)]="selectedLeads[func.functionId]" name="lead{{ func.functionId }}" required>
        <option value="">Select a lead</option>
        <option *ngFor="let lead of functionalLeads" [value]="lead.email">{{ lead.name }}</option>
      </select>
    </div>
    <button type="submit" [disabled]="!functionalLeadsForm.form.valid">Submit</button>
  </form>
</div>

<div *ngIf="showConfirmation" class="modal-overlay">
  <div class="modal-content">
    <h3>Success!</h3>
    <p>Template created successfully!</p>
    <button (click)="confirmAndRedirect()">OK</button>
  </div>
</div>

<div *ngIf="showError" class="modal-overlay">
  <div class="modal-content-error">
    <h3>Success!</h3>
    <p>Something went wrong try again!</p>
    <button (click)="confirmAndRedirectToCreateProject()">OK</button>
  </div>
</div>