<div class="summary-container">
  <ng-container *ngIf="spinner">
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>
  <ng-container *ngIf="!spinner">
    <mat-card class="summary-card" (click)="navigateTo('projectView')">
      <mat-card-title>Project Count</mat-card-title>
      <mat-card-content>
        <h2>{{projectCount}}</h2>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="summary-card" (click)="navigateTo('employeedashboard2')">
      <mat-card-title>Completed Tasks</mat-card-title>
      <mat-card-content>
        <h2>{{completedTasks}}</h2>
        <mat-progress-bar mode="determinate" value="{{(completedTasks/totalTasks)*100}}"></mat-progress-bar>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="summary-card" (click)="navigateTo('employeedashboard')">
      <mat-card-title>Incomplete Tasks</mat-card-title>
      <mat-card-content>
        <h2>{{incompleteTasks}}</h2>
        <mat-progress-bar mode="determinate" value="{{(incompleteTasks/totalTasks)*100}}"></mat-progress-bar>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="summary-card">
      <mat-card-title>Overdue Tasks</mat-card-title>
      <mat-card-content>
        <h2>{{overdueTasks}}</h2>
        <mat-progress-bar mode="determinate" value="{{(overdueTasks/totalTasks)*100}}" color="warn"></mat-progress-bar>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>