<div class="select-tasks-container">
  <h2>Select Tasks for Template</h2>
  <div class="dual-list-container">
    <div class="list">
      <h3>Add</h3>
      <ul>
        <li *ngFor="let task of source">
          <input type="checkbox" [(ngModel)]="task.selected" (change)="addTask(task)" [checked]="task.selected" /> {{ task.taskName }}
        </li>
      </ul>
      <button class="small-button" (click)="addAllTasks()">Add All</button>
    </div>

    <div class="list">
      <h3>Remove</h3>
      <ul>
        <li *ngFor="let task of confirmed">
          <input type="checkbox" [(ngModel)]="task.selected" (change)="removeTask(task)" [checked]="task.selected" /> {{ task.taskName }}
        </li>
      </ul>
      <button class="small-button" (click)="removeAllTasks()">Remove All</button>
    </div>
  </div>
  <button class="small-button-done" (click)="addTasksToTemplate()">Done</button>
</div>

<div *ngIf="showConfirmation" class="modal-overlay">
  <div class="modal-content">
    <h3>Success!</h3>
    <p>Template created successfully!</p>
    <button (click)="confirmAndRedirect()">OK</button>
  </div>
</div>
