<div class="main-content">
    <mat-card>
        <mat-form-field appearance="outline">
          <mat-label>Search Projects</mat-label>
          <input matInput  placeholder="Search by project name">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
          <!-- Task Column -->
          <ng-container matColumnDef="task">
            <th mat-header-cell *matHeaderCellDef> Task </th>
            <td mat-cell *matCellDef="let element"> {{element.task}} </td>
          </ng-container>
      
          <!-- Completion Column -->
          <ng-container matColumnDef="completion">
            <th mat-header-cell *matHeaderCellDef> Completion </th>
            <td mat-cell *matCellDef="let element"> {{element.completion}} </td>
          </ng-container>
      
          <!-- Assignee Column -->
          <ng-container matColumnDef="assignee">
            <th mat-header-cell *matHeaderCellDef> Assignee </th>
            <td mat-cell *matCellDef="let element"> {{element.assignee}} </td>
          </ng-container>
      
          <!-- Special Instructions Column -->
          <ng-container matColumnDef="specialInstructions">
            <th mat-header-cell *matHeaderCellDef> Special Instructions </th>
            <td mat-cell *matCellDef="let element"> {{element.specialInstructions}} </td>
          </ng-container>
      
          <!-- Exceptions Column -->
          <ng-container matColumnDef="exceptions">
            <th mat-header-cell *matHeaderCellDef> Exceptions </th>
            <td mat-cell *matCellDef="let element"> {{element.exceptions}} </td>
          </ng-container>
      
          <!-- Dependent Tasks Column -->
          <ng-container matColumnDef="dependentTasks">
            <th mat-header-cell *matHeaderCellDef> Dependent Tasks </th>
            <td mat-cell *matCellDef="let element"> {{element.dependentTasks}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-card>
</div>