<div class="main-content">
    <mat-card>
        <mat-card-header>
            <mat-icon mat-card-avatar class="profileTitle">account_circle</mat-icon>
            <mat-card-title class="cardTitle">Projects</mat-card-title>
        </mat-card-header>
        <ng-container *ngIf="spinner">
            <div class="spinner-container">
                <mat-spinner></mat-spinner>
            </div>
        </ng-container>
        <ng-container *ngIf="!spinner">
            <ng-container *ngIf="projectNames.length">
                    <div class="summary-container">
                    <mat-card class="summary-card" *ngFor="let project of projectNames" (click)="selectProject(project)">
                        <mat-card-title><h2>{{ project }}</h2></mat-card-title>
                      </mat-card>
                    </div>
            </ng-container>
            <ng-container *ngIf="!projectNames.length">
                <h1>No Projects Available</h1>
            </ng-container>
            <ng-container *ngIf="!spinnerTable">
                <ng-container *ngIf="dataSource.data.length">

                    <div class="container">
                        <div class="status-bar">
                            <p class="status">Project Status: {{projectProgress}}%</p>
                            <mat-progress-bar class="bar" mode="determinate"
                                [value]="projectProgress"></mat-progress-bar>
                        </div>
                        <button mat-raised-button class="createTask" (click)="openCreateTaskModal()"
                            color="primary">Create Task</button>
                    </div>                    

                    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="table-margin-bottom">
                        <!-- Function Column -->
                        <ng-container matColumnDef="function">
                            <th mat-header-cell *matHeaderCellDef> Function </th>
                            <td mat-cell *matCellDef="let element"> {{element.functionname}} </td>
                        </ng-container>
                        <ng-container matColumnDef="score">
                            <th mat-header-cell *matHeaderCellDef> Score </th>
                            <td mat-cell *matCellDef="let element"> {{element.functionreadinessscore}} </td>
                        </ng-container>
                        <ng-container matColumnDef="leadName">
                            <th mat-header-cell *matHeaderCellDef> Lead Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.functionleadname}} </td>
                        </ng-container>

                        <!-- Expand Column -->
                        <ng-container matColumnDef="expand">
                            <th mat-header-cell *matHeaderCellDef>  </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button>
                                    <mat-icon>{{expandedElement === element ? 'keyboard_arrow_up' :
                                        'keyboard_arrow_down'}}</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <!-- Expanded Detail Column -->
                        <ng-container matColumnDef="expandedDetail">
                            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length + 1">
                                <div *ngIf="expandedElement === element" [@detailExpand]>
                                    <!-- Your detailed row content here -->


                                    <ag-grid-angular
                                    style="width: 100%; height: 500px;"
                                    class="ag-theme-quartz"
                                    [rowData]="element.tasks"
                                    [columnDefs]="columnDefs"
                                    [defaultColDef]="defaultColDef"
                                    [rowClassRules]="rowClassRules">
                                  </ag-grid-angular>

                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"
                            [ngStyle]="{'background-color': '#21294f', 'color': '#ffffff'}"></tr>
                        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
                            (click)="expandedElement = expandedElement === element ? null : element"></tr>
                        <tr mat-row *matRowDef="let element; columns: ['expandedDetail']"
                            [@detailExpand]="expandedElement === element ? 'expanded' : 'collapsed'"
                            class="example-detail-row"></tr>
                    </table>
                    <button  mat-raised-button class="table-margin-bottom" style="width:10%;align-items: center;" color="primary" (click)="saveChanges()">Save Changes</button>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="spinnerTable">
                <div class="spinner-container">
                    <mat-spinner></mat-spinner>
                </div>
            </ng-container>
        </ng-container>
    </mat-card>
</div>