<main class="main-content">
  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar class="profileTitle">account_circle</mat-icon>
      <mat-card-title class="cardTitle">Modify Tasks</mat-card-title>
    </mat-card-header>
    <ng-container *ngIf="spinner">
      <div class="spinner-container">
        <mat-spinner></mat-spinner>
      </div>
    </ng-container>
    <ng-container *ngIf="!spinner">
      <mat-card-content>
        <br/>
        <!-- AG Grid Table -->
        <ag-grid-angular
          style="width: 100%; height: 600px;"
          class="ag-theme-quartz"
          [rowData]="filteredTasks"
          [columnDefs]="columnDefs"
          [defaultColDef]="defaultColDef"
          (rowClicked)="onRowClick($event)">
        </ag-grid-angular>
      </mat-card-content>
    </ng-container>
  </mat-card>
</main>